/* Shopping Cart Page */

/* PRODUCTS link appearance for the shopping car page */
#PRODUCTS-shopping{
    display: inline-block;
    font-weight: 100;
    margin-bottom: 10px;
}

/* Appearance of CART link on the shopping cart page */
#CART-shopping{
    background-color: yellow;
    display: inline-block;
    font-weight: bold;
    margin-left: 50px;
    margin-right: auto;
    margin-top: 5px;
    text-decoration: none;
    width: 50px;
}

/* Heading of the shopping cart page */
#shopping-heading{
    font-size: 25px;
    font-weight: lighter;
    padding:15px; 
    width: 200px;
}

/* Refers to entire area of shopping cart page below its heading */
.shopping-content{
    flex-direction: column;
	padding-left: 40%;
}

/* Content that is on the right side of the overall shopping cart page */
.right-shopping{
    display: flex;
	flex-wrap: wrap;

}

/* Cart item description of Original Cinnamon roll */
.cartItem{
    display: flex;
    flex-basis: 100%;
	justify-content: space-between;
}

/* Pictures of the items "in cart" */
.cartItemPic{
    background-color: black;
    border: 3px solid black;
    height:100px;
    object-fit: cover;
    width:100px;      
}

/* "remove" link at the bottom of pictures in the shopping cart*/
.removeBtn{
    display: block;
    font-size: 9px;
    font-weight: bold;
    margin: auto;
    margin-top: 1px;
    text-decoration: underline gray;
}

/* text description of shopping cart items */
.description-shopping-cart{
    flex: 1 0 auto;
	margin-left: 30px;
}

/* line dividing in cart products with the total cost of them */
#shopping-line {
    flex-basis: 200px;
}

/* Comprised of the shopping line, final total, and checkout button */
.shopping-final-elements{
    border-top: 5px solid black;
	display: flex;
	justify-content: space-between;
}

/* Comprises the word "total" and the final cost of items in the cart */
.final-total{
    /* display: flex;
    margin: auto;
    font-size: 25px;
    gap: 372px;
    margin-top: 20px; */
    text-align: right;
}

/* Prices of individual in-cart items*/
.cartItemPrice{
    font-size: 25px;
    margin: auto;
    margin-left:30%;
    margin-bottom: 30px;
    width: 290px; 
}

/* Total and price from the items in the shopping cart */
.shopping-total{
    margin-left: 20%;
}

/* Checkout Button */
#checkout-button{
    background-color: yellow;
    font-size: 25px;
    font-weight: bold;
    border: 3px solid black;
    margin: auto;
    margin-left: 500px;
    margin-bottom:100px;
    width: 150px;
    
}