/* Universal */

/* Bakery Shop Logo*/
.bakery-logo{
   box-sizing: border-box; 
   object-fit: cover;
   height: auto;
   width: auto;
   padding: 30px;
   margin: auto;

}

/* Line dividing the logo from the rest of information on the three pages */
.line{
    background:black;
    height:5px; 
    margin-bottom: auto;
    margin-top: 25px; 
}
/* rectangle encompassing all the pages */
/* Credits: https://www.computerhope.com/issues/ch001392.htm */
#rectangle{
    border-width: 3px;
    border-style: solid;
    border-color: black;
    margin:auto;
    height:auto;
    max-width: 1200px;
    width: fit-content;
    
}

/* Encompases the content at the top of the page that is universal to the gallery, detail, and cart pages */
.top-page-elements{
    display: flex;
}
.left-page{
    flex-grow: 1;
}
.right-page{
    width: calc(100% - 450px);    
}

/* Appearance of the PRODUCTS and CART links at top of the 3 pages */
.top-page-links{
    color:black;
    display: inline-block;
    margin-left: 500px;
    margin-top: 45px;
    font-size:17px;
    width: 1000px;
}

/* Appearance of PRODUCTS link for Gallery and Detail Page */
.PRODUCTS{
    background-color: yellow;
    display: inline-block;
    font-weight: bold;
    margin-bottom: auto;
    text-decoration: none;
}

/* Appearance of CART link for Gallery and Detail Page */
.CART{
    display: inline-block;
    font-weight: 100;
    margin-left: 50px;
    margin-right: auto;
    margin-top: auto;
}

/* credits: CSS Links Styling: https://www.w3schools.com/css/css_link.asp  */
/* Removes the underline from PRODUCTS and CART Links */
a:link{
    color:black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover{
    color: black;
    text-decoration: none;
}

/* When link has been clicked on*/
a:active{
    color: black;
    text-decoration: none;
}

/* Font-family of all text on the website */
body{
    font-family: sans-serif;

}

/* Product Gallery Page */

/* Heading for the Gallery Page */
#gallery-heading{
    font-size: 20px;
    margin:auto;
    margin-top:20px;
    margin-left: 5px;
    font-weight: lighter;
    padding:20px; 
    width: 290px;
}
/* All displayed products and their names & prices */
.bakery-products{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* Row at the top of gallery page consisting of 3 products */
.top-row{
    display:flex;
    gap:50px;
}

/* Row at bottom of gallery page consisting of 3 products */
.bottom-row{
    display: flex;
    gap:50px;
}

/* Appearance of the titles of each bakery items picture on the gallery page */
.title-product-gallery{
    margin: auto;
    text-decoration: underline gray;
    width: 200px;
}

/* Appearance of the prices of each bakery items picture on first/product gallery page */
.price-product-gallery{
    margin: auto;
    margin-bottom: 30px;
    width: 200px;
}

.description-product-gallery{
    display:block;
}
/* Dimensions and Centering of bakery items' pictures on the gallery page */
.product-pics{
    background-color: black;
    box-sizing: border-box;
    height:200px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    padding:2px;
    width:200px; 
}

.OG-cinnamon-roll-gallery{
    display: block;
}

img{
    object-fit: contain;
}

/* Original Cinnamon roll pic and text highlight properties*/
.OG-cinnamon-roll-gallery:active{
    display:inline-block;
    background: yellow;
    cursor: pointer;
    font-weight: bold;
    margin:auto;
}

.apple-cinnamon-roll-gallery{
    display: block;
}

.raisin-cinnamon-roll-gallery{
    display: block;
}

.walnut-cinnamon-roll-gallery{
    display: block;
}

.double-chocolate-cinnamon-roll-gallery{
    display: block;
}

.strawberry-cinnamon-roll-gallery{
    display: block;
}


/* Shopping Detail Page */

/* Heading for detail page, adjusted for width compared to other pages */
.detail-heading{
    margin-left: 5px;
    font-weight: lighter;
    font-size: 30px;
    padding: 20px; 
    width: 400px;
}

.detail-page{
    margin-bottom: 60px;
}
/* Container for content of detail page */
.detail-content{
    display:flex;
    justify-content: center;
    gap: 50px;
}
/* Left side of detail page */
.left-detail{
    margin: auto;
    margin-left: 60px;
    width: auto;

}

/* Right side of detail page */
.right-detail{
    /* margin: auto;  */
    height: 550px; 
    flex-grow: 4;
    font-size: 30px;  
}

/* Appearance of description that appears underneath image on detail page */
.detail-description{
    display:block;
    font-size: 20px;
    font-weight: lighter;
    /* margin: auto; */
    margin-bottom: 60px;
    width: 300px;
}

/* Image of product that appears on the detail page */
.detail-pics{
    background-color: black;
    border: 1px solid black;
    box-sizing: border-box;
    height:600px;
    flex-grow: 1;
    object-fit: cover;
    padding:2px;
    width:auto;
}

/* Drop down menus */
.selectors{
    display:block;
    width: 200px;
    
}

/*"Glazing" title for drop down menu */
#glazing-title-selector{
    font-size: 20px;
    font-weight: lighter;  
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Specific Drop Down menu for Glazing */
#glazing-selector{
    border: 3px solid black;
    font-size: 15px;
    padding: 5px;
    width: 200px;

}

/* "Pack Size" title for drop down menu */
#pack-size-title-selector{
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 10px;
}

/* Specific drop down menu for Pack Size */
#pack-size-selector{
    border: 3px solid black;
    font-size: 15px;
    padding: 5px;
    margin-bottom: 50px;
    width: 200px;
}

/* Price of the image detailed */
.detail-price{
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    margin-left: auto;
}

/* Button for "add to cart" */
.adding-to-cart{
    background-color: yellow;
    display: inline-block;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid black;
}

/* Concerning the price of detailed item and the button to add to cart*/
.detail-elements{
    display:inline-block;
    font-size: 20px;
    margin-top: 50px;
    width: 200px;
}

/* Shopping Cart Page */

/* PRODUCTS link appearance for the shopping car page */
#PRODUCTS-shopping{
    display: inline-block;
    font-weight: 100;
    margin-bottom: 10px;
}

/* Appearance of CART link on the shopping cart page */
#CART-shopping{
    background-color: yellow;
    display: inline-block;
    font-weight: bold;
    margin-left: 50px;
    margin-right: auto;
    margin-top: 5px;
    text-decoration: none;
    width: 50px;
}

/* Heading of the shopping cart page */
#shopping-heading{
    margin-left: 5px;
    font-size: 20px;
    font-weight: lighter;
    margin-top: 5px;
    padding:20px; 
    width: 150px;
}

.shopping-content{
    display:block;
}

.right-shopping{
    display: block;
    margin-left: 400px;
}

.OG-cinnamon-roll-cart{
    display: flex;
    margin-bottom: 100px;

}

.DC-cinnamon-roll-cart{
    display: flex;
    margin-bottom: 100px;


}

.shopping-final-elements{
    display: flex;
    margin-top: 100px;
}

/* Pictures of the items "in cart" */
.shopping-pics{
    background-color: black;
    box-sizing: border-box;
    display:block;
    height:80px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    padding:2px;
    width:80px;      
}

/* "remove" link at the bottom of pictures in the shopping cart*/
.remove{
    display: block;
    font-size: 7px;
    font-weight: bold;
    margin: auto;
    margin-top: 1px;
    text-decoration: underline gray;
    width: 30px;
}

/* description of shopping cart item underneath each picture */
/* Credits text-align centering:https://www.w3.org/Style/Examples/007/center.en.tmpl */
.description-shopping-cart{
    display:block;
    font-size: 14px;
    margin: auto;
    text-align: center;
    width: fit-content;
}

/* line dividing in cart products with the total cost of them */
#shopping-line {
    background: black;
    height:2px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

/* prices displayed underneath the pics in the shopping */
.shopping-price{
    display:block;
    font-size: 14px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 1px;
    width: 40px; 
}

/* Total and price from the items in the shopping cart */
.shopping-total{
    display:block;
    font-size: 14px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 90px;
}

/* Checkout Button */
#checkout-button{
    background-color: yellow;
    display:block;
    font-size: 14px;
    margin: auto;
    margin-bottom:100px;
    width: 100px;
}


