/* Product Gallery Page */

.product-gallery{
    background-color: white;

}

.bakery-logo{
    width: 70px;
    height:70px;
    object-fit: cover;
}

.line{
    height:1px;
    background:black;

}

.product-pics{
    object-fit: cover;
    width:70px;
    height:70px;
    border: 100px;
    border-color: black;
    box-sizing: border-box;
      
}

.product-pics:hover{
    background-color: yellow;
    color: yellow;
    cursor: pointer;
    border: 2px solid #dddddd;
}

/* Use at media */
.products{
    color:black;
    font-family: sans-serif;
    font-size:20px;
    background-color: yellow;
}

.p{
    text-decoration: underline;
    font-family: sans-serif;
}

/* Shopping Detail Page */



/* Shopping Cart Page */
#shopping-line{
    height:1px;
    background: black;
    width:auto;
}