/* Product Gallery Page */


.PRODUCTS{
    background-color: yellow;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
}

.CART{
    margin-top: 5px;
}

/* credits: CSS Links Styling: https://www.w3schools.com/css/css_link.asp  */
a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

/* dimensions of the bakery logo*/
.bakery-logo{
    width: 400px;
    padding: 30px;
    object-fit: cover;
    box-sizing: border-box;

}

/* Line dividing the logo from the rest of information on the three pages */
.line{
    margin-top: auto; 
    margin-bottom: auto;
    height:5px;
    background:black;

}

.page-headings{
    margin-top: 50px;
    font-size: 20px;
}

/* Appearance of the titles of each bakery items picture on first/product gallery page */
.title-product-gallery{
    margin-right: 70px;
    margin-left: auto;
    margin-top: 1px;
    margin-bottom: auto;
    text-decoration: underline gray;
}

/* Appearance of the prices of each bakery items picture on first/product gallery page */
.price-product-gallery{
    margin-right: 160px;
    margin-top: 1px;
}

/* Dimensions of product pictures on the first page */
.product-pics{
    object-fit: cover;
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:200px;
    height:200px;
    box-sizing: border-box;
    padding:2px;
    background-color: black;
     
}

/* Original Cinnamon roll pic and text highlight properties*/
.OG-cinnamon-roll:hover{
    cursor: pointer;
    margin-right: 480px;
    margin-left: 480px;
    background-color: yellow;
}

/* .bakery-items{
    margin-left: auto;
    margin-left: auto;
    font-size: 14px;
} */


body{
    font-family: sans-serif;
}

.top-page-links{
    color:black;
    font-family: sans-serif;
    font-size:15px;
}

/* Shopping Detail Page */

.detail-description{
    text-align: center; 
}

.detail-description-content{
    text-align: left;
    /* https://stackoverflow.com/questions/1269589/css-center-block-but-align-contents-to-the-left */
    display: inline-block; 
    
}

.detail-pics{
    object-fit: cover;
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:400px;
    height:400px;
    box-sizing: border-box;
    padding:2px;
    background-color: black;
    margin-left: auto;
    margin-right:auto; 
      
}

.selectors{
    text-align: center;
}

#glazing-title-selector{
    margin-right: 150px;
    margin-bottom: 10px;
    font-size: 13px;
    
}

#glazing-selector{
    width: 150px;
    margin-right: 45px;
}

#pack-size-title-selector{
    margin-right: 140px;
    margin-bottom: 10px;
    font-size: 13px;
}

#pack-size-selector{
    margin-bottom: 50px;
    width: 150px;
    margin-right: 45px;
}

/* adding space between price and button */
.detail-price{
    font-size: 13px;
    margin-right: 25px;
    margin-left: auto;
    display: inline-block;
}

.adding-to-cart{
    background-color: yellow;
    margin-right: 50px;
    display: inline-block;
}

/* Shopping Cart Page */

#PRODUCTS-shopping{
    margin-bottom: 10px;
}

#CART-shopping{
    background-color: yellow;
    text-decoration: none;
    display: inline-block;
    margin-top: 5px;
}

#shopping-line {
    height:2px;
    background: black;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

.shopping-pics{
    object-fit: cover;
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:50px;
    height:50px;
    box-sizing: border-box;
    padding:2px;
    background-color: black;
    margin-left: auto;
    margin-right:auto; 
      
}

.remove{
    margin-top: 1px;
    font-size: 7px;
    text-align: center;
    text-decoration: underline gray;
}

#checkout-button{
    background-color: yellow;
}

.description-shopping-cart{
    font-size: 14px;
}


