/* Product Gallery Page */

.product-gallery{
    background-color: white;
}

.bakery-logo{
    width: 270px;
    height:100px;
    object-fit: cover;
}

.line{
    margin-top: 80px; 
    height:5px;
    background:black;

}

.product-pics{
    object-fit: cover;
    width:200px;
    height:200px;
    box-sizing: border-box;
    padding:2px;
    background-color: black;
    margin-left: auto;
    margin-right:auto; 
      
}

.bakery-items{
    margin-left: auto;
    margin-left: auto;
    font-size: 14px;
}

.product-pics:hover{
    cursor: pointer;
    padding: 10px;
    background-color: yellow;
}



body{
    text-align: center;
    font-family: sans-serif;
}


#PRODUCTS{
    color:black;
    font-family: sans-serif;
    font-size:20px;

}
#PRODUCTS:link{
    color:black;
    text-decoration: none;
}

#PRODUCTS:visited{
    color: black;
    text-align: none;
}

#PRODUCTS:hover{
    background-color: yellow;
    text-decoration: none;

}

#PRODUCTS:active{
    background-color: yellow;
    text-decoration: none;

}


/* Shopping Detail Page */

.description{
    text-align: center;
    margin-top:1px;
}

.detail-pics{
    object-fit: cover;
    width:400px;
    height:400px;
    box-sizing: border-box;
    padding:2px;
    background-color: black;
    margin-left: auto;
    margin-right:auto; 
      
}

.selectors{
    text-align: center;
}

.adding-to-cart{
    background-color: yellow;
}

h6{
    margin-bottom: 10px;
    text-align: auto;
}
/* Shopping Cart Page */

#CART{
    color:black;
    font-family: sans-serif;
    font-size:20px;

}

#CART:active{
    background-color: yellow;
}

#shopping-line {
    height:2px;
    background: black;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

.shopping-pics{
    object-fit: cover;
    width:50px;
    height:50px;
    box-sizing: border-box;
    padding:2px;
    background-color: black;
    margin-left: auto;
    margin-right:auto; 
      
}

.remove{
    margin-top: 1px;
    font-size: 7px;
    text-align: center;
    text-decoration: underline gray;
}

.price{
    text-align: center;
}

#checkout-button{
    background-color: yellow;
}

.description-shopping-cart{
    font-size: 14px;
}


