/* Product Gallery Page */

/* Heading for the Gallery Page */
#gallery-heading{
    font-size: 25px;
    margin:auto;
    margin-top:20px;
    font-weight: lighter;
    padding:20px; 
    width: auto;
}

/* All displayed products and their names & prices */
.bakery-products{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Row at the top of gallery page consisting of 3 products */
.top-row{
    display:flex;
    gap:50px;
}

/* Row at bottom of gallery page consisting of 3 products */
.bottom-row{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    gap:50px;
}

/* Names of each bakery item pictured on the gallery page */
.title-product-gallery{
    margin: auto;
    text-decoration: underline gray;
    width: 200px;
}

/* Price of each bakery items pictured on gallery page */
.price-product-gallery{
    margin: auto;
    width: 200px;
}


/* Bakery items' pictures on the gallery page */
.product-pics{
    background-color: black;
    box-sizing: border-box;
    height:200px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    padding:2px;
    width:200px; 
}

/* Original Cinnamon Roll Product Positioning*/
.OG-cinnamon-roll-gallery{
    display: block;
}

/* Highlight Original Cinnamon Roll picture when clicked */
.OG-cinnamon-roll-gallery img:active {
    background-color: yellow;
    border: 1px solid black;
    margin: auto;
}

/* Original Cinnamon roll pic and text highlight properties*/
.OG-cinnamon-roll-gallery:active{
    background-color: yellow;
    cursor: pointer;
    font-weight: bold;
}

img{
    object-fit: contain;
}

/* Apple Cinnamon Roll Product Positioning*/
.apple-cinnamon-roll-gallery{
    display: block;
}

/* Raisin Cinnamon Roll Product Positioning*/
.raisin-cinnamon-roll-gallery{
    display: block;
}

/* Walnut Cinnamon Roll Product Positioning*/
.walnut-cinnamon-roll-gallery{
    display: block;
}

/* Double Chocolate Cinnamon Roll Product Positioning*/
.double-chocolate-cinnamon-roll-gallery{
    display: block;
}

/* Strawberry Cinnamon Roll Product Positioning*/
.strawberry-cinnamon-roll-gallery{
    display: block;
}


